In [1]:
import requests
import json
from bs4 import BeautifulSoup as bs
import pandas as pd

In [14]:
url = input("Enter the URL of the page to scrape: ")
r = requests.get(url)
soup = bs(r.content)
json_fotmob = json.loads(soup.find('script', attrs={'id': '__NEXT_DATA__'}).contents[0])

In [15]:
# General match info
json_fotmob['props']['pageProps']['general']

{'matchId': '4756765',
 'matchName': 'Libertad-vs-Talleres_Tue, Apr 8, 2025, 22:00 UTC',
 'matchRound': '2',
 'teamColors': {'darkMode': {'home': '#ffffff', 'away': '#424f86'},
  'lightMode': {'home': '#181818', 'away': '#424f86'},
  'fontDarkMode': {'home': 'rgba(29, 29, 29, 1.0)',
   'away': 'rgba(255, 255, 255, 1.0)'},
  'fontLightMode': {'home': 'rgba(255, 255, 255, 1.0)',
   'away': 'rgba(255, 255, 255, 1.0)'}},
 'leagueId': 898420,
 'leagueName': 'Copa Libertadores Grp. D',
 'leagueRoundName': '2',
 'parentLeagueId': 45,
 'countryCode': 'INT-2',
 'parentLeagueName': 'Copa Libertadores',
 'parentLeagueSeason': '2025',
 'parentLeagueTopScorerLink': 'https://data.fotmob.com/stats/45/season/25464/goals.json',
 'parentLeagueTournamentId': 25464,
 'homeTeam': {'name': 'Libertad', 'id': 6620},
 'awayTeam': {'name': 'Talleres', 'id': 10101},
 'coverageLevel': 'xG',
 'matchTimeUTC': 'Tue, Apr 8, 2025, 22:00 UTC',
 'matchTimeUTCDate': '2025-04-08T22:00:00.000Z',
 'started': True,
 'finished': True}

In [4]:
matchRound = int(json_fotmob['props']['pageProps']['general']['matchRound'])
matchRound

2

In [5]:
type(matchRound)

int

In [16]:
h_team = json_fotmob['props']['pageProps']['general']['homeTeam']['name']
h_team

'Libertad'

In [17]:
a_team = json_fotmob['props']['pageProps']['general']['awayTeam']['name']
a_team

'Talleres'

In [18]:
df = pd.DataFrame(json_fotmob['props']['pageProps']['content']['playerStats'])
df

,30646,35425,57051,96616,172446,247764,262597,322966,432949,497385,...,1451319,1457873,1504612,1609259,1613171,1671342,1736566,1737006,1739038,1739039
name,Roque Santa Cruz,Oscar Cardozo,Martin Silva,Martin Cáceres,Lorenzo Melgarejo,Diego Viera,Javier Burrai,Guido Herrera,Sebastian Palacios,Angel Lucena,...,Joaquin Mosqueira,Tomas Olmos,Matias Gomez,Santiago Puzzo,Rodrigo Villalba,Alexis Fretes,Aaron Troche,Emilio Suarez,Lucas Guinazu,Emiliano Chiavassa
id,30646,35425,57051,96616,172446,247764,262597,322966,432949,497385,...,1451319,1457873,1504612,1609259,1613171,1671342,1736566,1737006,1739038,1739039
optaId,5053,42795,61999,43693,78117,173958,103190,117879,155483,204948,...,609821,617027,624851,647546,586176,608904,685426,693635,616435,693638
teamId,6620,6620,6620,6620,6620,6620,10101,10101,10101,6620,...,10101,10101,10101,10101,6620,6620,6620,10101,6620,10101
teamName,Libertad,Libertad,Libertad,Libertad,Libertad,Libertad,Talleres de Córdoba,Talleres de Córdoba,Talleres de Córdoba,Libertad,...,Talleres de Córdoba,Talleres de Córdoba,Talleres de Córdoba,Talleres de Córdoba,Libertad,Libertad,Libertad,Talleres de Córdoba,Libertad,Talleres de Córdoba
isGoalkeeper,False,False,True,False,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
stats,"[{'title': 'Top stats', 'key': 'top_stats', 's...",[],[],[],"[{'title': 'Top stats', 'key': 'top_stats', 's...","[{'title': 'Top stats', 'key': 'top_stats', 's...",[],"[{'title': 'Top stats', 'key': 'top_stats', 's...","[{'title': 'Top stats', 'key': 'top_stats', 's...","[{'title': 'Top stats', 'key': 'top_stats', 's...",...,[],[],[],[],[],"[{'title': 'Top stats', 'key': 'top_stats', 's...",[],[],[],"[{'title': 'Top stats', 'key': 'top_stats', 's..."
shotmap,[],[],[],[],[],[],[],[],"[{'id': 2798436165, 'eventType': 'AttemptSaved...",[],...,[],[],[],[],[],[],[],[],[],[]
funFacts,[],[],[],[],[],[],[],"[{'key': 'fun_fact_pass_completion', 'fallback...",[],[],...,[],[],[],[],[],[],[],[],[],[]

In [19]:
df = df.T
df.head()

,name,id,optaId,teamId,teamName,isGoalkeeper,stats,shotmap,funFacts
30646,Roque Santa Cruz,30646,5053,6620,Libertad,False,"[{'title': 'Top stats', 'key': 'top_stats', 's...",[],[]
35425,Oscar Cardozo,35425,42795,6620,Libertad,False,[],[],[]
57051,Martin Silva,57051,61999,6620,Libertad,True,[],[],[]
96616,Martin Cáceres,96616,43693,6620,Libertad,False,[],[],[]
172446,Lorenzo Melgarejo,172446,78117,6620,Libertad,False,"[{'title': 'Top stats', 'key': 'top_stats', 's...",[],[]

In [20]:
df['player_id'] = df.index
df.reset_index(drop=True, inplace=True)
df.head()

,name,id,optaId,teamId,teamName,isGoalkeeper,stats,shotmap,funFacts,player_id
0,Roque Santa Cruz,30646,5053,6620,Libertad,False,"[{'title': 'Top stats', 'key': 'top_stats', 's...",[],[],30646
1,Oscar Cardozo,35425,42795,6620,Libertad,False,[],[],[],35425
2,Martin Silva,57051,61999,6620,Libertad,True,[],[],[],57051
3,Martin Cáceres,96616,43693,6620,Libertad,False,[],[],[],96616
4,Lorenzo Melgarejo,172446,78117,6620,Libertad,False,"[{'title': 'Top stats', 'key': 'top_stats', 's...",[],[],172446

In [21]:
new_df = df[['teamName', 'player_id']].copy()
new_df

               teamName player_id
0              Libertad     30646
1              Libertad     35425
2              Libertad     57051
3              Libertad     96616
4              Libertad    172446
5              Libertad    247764
6   Talleres de Córdoba    262597
7   Talleres de Córdoba    322966
8   Talleres de Córdoba    432949
9              Libertad    497385
10             Libertad    497399
11             Libertad    650438
12  Talleres de Córdoba    723668
13  Talleres de Córdoba    729090
14             Libertad    731801
15  Talleres de Córdoba    797871
16             Libertad    834604
17             Libertad    834633
18  Talleres de Córdoba    835409
19             Libertad    929167
20  Talleres de Córdoba    929338
21             Libertad    940259
22  Talleres de Córdoba    994916
23  Talleres de Córdoba   1048053
24             Libertad   1073739
25  Talleres de Córdoba   1086839
26  Talleres de Córdoba   1088084
27  Talleres de Córdoba   1200762
28  Talleres de Córdoba   1241957
29             Libertad   1274403
30  Talleres de Córdoba   1281230
31  Talleres de Córdoba   1321686
32             Libertad   1333209
33             Libertad   1354553
34             Libertad   1354560
35  Talleres de Córdoba   1437367
36  Talleres de Córdoba   1451319
37  Talleres de Córdoba   1457873
38  Talleres de Córdoba   1504612
39  Talleres de Córdoba   1609259
40             Libertad   1613171
41             Libertad   1671342
42             Libertad   1736566
43  Talleres de Córdoba   1737006
44             Libertad   1739038
45  Talleres de Córdoba   1739039

Shots

In [22]:
df_shots = pd.DataFrame(json_fotmob['props']['pageProps']['content']['shotmap']['shots'])
df_shots.head()

,id,eventType,teamId,playerId,playerName,x,y,min,minAdded,isBlocked,...,period,isOwnGoal,onGoalShot,isSavedOffLine,isFromInsideBox,keeperId,firstName,lastName,fullName,teamColor
0,2798412877,AttemptSaved,10101,1281230,Juan Camilo Portilla,79.331553,30.220000,1,NaN,True,...,FirstHalf,False,"{'x': 1.0201719576719581, 'y': 0.3227513211640...",False,False,NaN,Juan Camilo,Portilla,Juan Camilo Portilla,#1B2F62
1,2798412887,AttemptSaved,10101,1086839,Diego Ortegoza,87.319118,25.418125,1,NaN,True,...,FirstHalf,False,"{'x': 1.6858465608465611, 'y': 0.3227513211640...",False,False,NaN,Diego,Ortegoza,Diego Ortegoza,#1B2F62
2,2798415701,Goal,6620,929167,Ivan Franco,98.921053,32.017500,9,NaN,False,...,FirstHalf,False,"{'x': 0.2536375661375645, 'y': 0.2683932039153...",False,True,322966.0,Ivan,Franco,Ivan Franco,#181818
3,2798416397,Post,10101,1086839,Diego Ortegoza,76.628641,27.446429,14,NaN,False,...,FirstHalf,False,"{'x': 0.47552910052910013, 'y': 0.665343915343...",False,False,NaN,Diego,Ortegoza,Diego Ortegoza,#1B2F62
4,2798418513,AttemptSaved,10101,723668,Cristian Alberto Tarragona,90.400000,25.302500,22,NaN,True,...,FirstHalf,False,"{'x': 1, 'y': 0.32275132116402117, 'zoomRatio'...",False,True,NaN,Cristian Alberto,Tarragona,Cristian Alberto Tarragona,#1B2F62

In [15]:
# Add match round to shots DF
df_shots['matchRound'] = matchRound
df_shots.head()

,id,eventType,teamId,playerId,playerName,x,y,min,minAdded,isBlocked,...,isOwnGoal,onGoalShot,isSavedOffLine,isFromInsideBox,keeperId,firstName,lastName,fullName,teamColor,matchRound
0,2798414113,Miss,49681,1363138,Joshuan Berrios,91.000000,25.418125,5,NaN,False,...,False,"{'x': -2.220446049250313e-16, 'y': 0.020534900...",False,True,NaN,Joshuan,Berrios,Joshuan Berrios,#551515,2
1,2798415517,Miss,49681,593211,Gustavo Gonzalez,70.209223,23.718981,10,NaN,False,...,False,"{'x': 0, 'y': 0.030009718309976712, 'zoomRatio...",False,False,NaN,Gustavo,Gonzalez,Gustavo Gonzalez,#551515,2
2,2798416179,AttemptSaved,8517,501636,Jefferson Savarino,78.205340,28.286905,12,NaN,False,...,False,"{'x': 0.9394841269841275, 'y': 0.4195767175132...",False,False,800702.0,Jefferson,Savarino,Jefferson Savarino,#181818,2
3,2798416199,Miss,8517,1028704,Santiago Rodriguez,95.640351,38.788571,12,NaN,False,...,False,"{'x': 1.0685432013562148, 'y': 0.6772486772486...",False,True,NaN,Santiago,Rodriguez,Santiago Rodriguez,#181818,2
4,2798416929,Miss,8517,281240,Gonzalo Mastriani,90.400000,33.618750,15,NaN,False,...,False,"{'x': 1.8956720721422258, 'y': 0.6772486772486...",False,True,NaN,Gonzalo,Mastriani,Gonzalo Mastriani,#181818,2

In [23]:
new_df['player_id'] = new_df['player_id'].astype(int)
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   teamName   46 non-null     object
 1   player_id  46 non-null     int64
dtypes: int64(1), object(1)
memory usage: 868.0+ bytes

In [24]:
# Compare the two dataframes
df_shots['teamName'] = df_shots['playerId'].map(new_df.set_index('player_id')['teamName'])
df_shots.head()

,id,eventType,teamId,playerId,playerName,x,y,min,minAdded,isBlocked,...,isOwnGoal,onGoalShot,isSavedOffLine,isFromInsideBox,keeperId,firstName,lastName,fullName,teamColor,teamName
0,2798412877,AttemptSaved,10101,1281230,Juan Camilo Portilla,79.331553,30.220000,1,NaN,True,...,False,"{'x': 1.0201719576719581, 'y': 0.3227513211640...",False,False,NaN,Juan Camilo,Portilla,Juan Camilo Portilla,#1B2F62,Talleres de Córdoba
1,2798412887,AttemptSaved,10101,1086839,Diego Ortegoza,87.319118,25.418125,1,NaN,True,...,False,"{'x': 1.6858465608465611, 'y': 0.3227513211640...",False,False,NaN,Diego,Ortegoza,Diego Ortegoza,#1B2F62,Talleres de Córdoba
2,2798415701,Goal,6620,929167,Ivan Franco,98.921053,32.017500,9,NaN,False,...,False,"{'x': 0.2536375661375645, 'y': 0.2683932039153...",False,True,322966.0,Ivan,Franco,Ivan Franco,#181818,Libertad
3,2798416397,Post,10101,1086839,Diego Ortegoza,76.628641,27.446429,14,NaN,False,...,False,"{'x': 0.47552910052910013, 'y': 0.665343915343...",False,False,NaN,Diego,Ortegoza,Diego Ortegoza,#1B2F62,Talleres de Córdoba
4,2798418513,AttemptSaved,10101,723668,Cristian Alberto Tarragona,90.400000,25.302500,22,NaN,True,...,False,"{'x': 1, 'y': 0.32275132116402117, 'zoomRatio'...",False,True,NaN,Cristian Alberto,Tarragona,Cristian Alberto Tarragona,#1B2F62,Talleres de Córdoba

In [ ]:
# 2️⃣👍🏼👎🏼 Same result as above, but using merge
df_shots = pd.merge(
    df_shots,
    new_df[['player_id', 'teamName']],
    left_on='playerId',
    right_on='player_id',
    how='left'  # keeps all rows from df_shots even if no match
).drop('player_id', axis=1)  # drop the redundant column

df_shots

Options to get home or away team

In [ ]:
# ❌ Get home and away team -> worked fine until I hit Botafogo RJ & Botafogo | Check DS
df_shots['h_a'] = df_shots['teamName'].apply(lambda x: 'h' if x == h_team else 'a')

In [22]:
from fuzzywuzzy import fuzz

In [ ]:
# ❌ fuzzywuzzy to handle slight variation -> worked fine until I hit Club Atletico Penarol & Peñarol

# Define a similarity threshold (e.g., 70 means 70% similar)
threshold = 70

df_shots['h_a'] = df_shots['teamName'].apply(
    lambda x: 'h' if fuzz.ratio(x.lower(), h_team.lower()) >= threshold else 'a'
)

df_shots.head()

,id,eventType,teamId,playerId,playerName,x,y,min,minAdded,isBlocked,...,onGoalShot,isSavedOffLine,isFromInsideBox,keeperId,firstName,lastName,fullName,teamColor,teamName,h_a
0,2798440475,Miss,8450,1256494,Maximiliano Silvera,95.350877,27.698571,2,NaN,False,...,"{'x': 1.1102230246251565e-16, 'y': 0.119409606...",False,True,NaN,Maximiliano,Silvera,Maximiliano Silvera,#d6a200,Peñarol,a
1,2798441825,AttemptSaved,8450,834965,Leonardo Fernandez,74.038350,36.440000,7,NaN,False,...,"{'x': 0.6167328042328032, 'y': 0.0424672791005...",False,False,681451.0,Leonardo,Fernandez,Leonardo Fernandez,#d6a200,Peñarol,a
2,2798441949,AttemptSaved,8450,281238,Maximiliano Olivera,98.631579,42.292812,7,NaN,False,...,"{'x': 0.73776455026455, 'y': 0.215733777830687...",False,True,681451.0,Maximiliano,Olivera,Maximiliano Olivera,#d6a200,Peñarol,a
3,2798442007,Miss,8450,1436129,Rodrigo Perez,96.701754,31.636250,8,NaN,False,...,"{'x': 1.2735823758471292, 'y': 0.6772486772486...",False,True,NaN,Rodrigo,Perez,Rodrigo Perez,#d6a200,Peñarol,a
4,2798446287,AttemptSaved,8450,834965,Leonardo Fernandez,72.349029,38.536429,27,NaN,False,...,"{'x': 1.26223544973545, 'y': 0.290476189047619...",False,False,681451.0,Leonardo,Fernandez,Leonardo Fernandez,#d6a200,Peñarol,a

In [24]:
# ❌ Option for Peñarol -> worked fine until I hit Atletico Nacional vs Nacional | Check DS

threshold = 80  # Adjust based on testing

df_shots['h_a'] = df_shots['teamName'].apply(
    lambda x: 'h' if fuzz.partial_ratio(x.lower(), h_team.lower()) >= threshold else 'a'
)

df_shots.head()

,id,eventType,teamId,playerId,playerName,x,y,min,minAdded,isBlocked,...,onGoalShot,isSavedOffLine,isFromInsideBox,keeperId,firstName,lastName,fullName,teamColor,teamName,h_a
0,2795252373,Miss,6368,925847,Felipe Roman,82.710194,20.706242,1,NaN,False,...,"{'x': 0, 'y': 0.028390145309295595, 'zoomRatio...",False,False,NaN,Felipe,Roman,Felipe Roman,#008449,Atlético Nacional,h
1,2795253047,AttemptSaved,6368,1205222,Marino Hinestroza,88.600000,45.402038,3,NaN,True,...,"{'x': 0.5763888888888888, 'y': 0.3227513211640...",False,True,NaN,Marino,Hinestroza,Marino Hinestroza,#008449,Atlético Nacional,h
2,2795255419,AttemptSaved,6368,1205222,Marino Hinestroza,82.822816,17.553376,9,NaN,True,...,"{'x': 1.141203703703705, 'y': 0.32275132116402...",False,False,NaN,Marino,Hinestroza,Marino Hinestroza,#008449,Atlético Nacional,h
3,2795255629,AttemptSaved,8304,1037554,Diego Herazo,99.017544,23.648917,9,NaN,True,...,"{'x': 0.6772486772486757, 'y': 0.2361180717989...",False,True,NaN,Diego,Herazo,Diego Herazo,#1246A9,Nacional,h
4,2795257849,AttemptSaved,6368,1205222,Marino Hinestroza,93.200000,30.268000,14,NaN,True,...,"{'x': 1.141203703703705, 'y': 0.32275132116402...",False,True,NaN,Marino,Hinestroza,Marino Hinestroza,#008449,Atlético Nacional,h

In [25]:
# ❌ Option for Peñarol -> worked fine until I hit Atletico Nacional vs Nacional | Check DS

df_shots['h_a'] = df_shots['teamName'].apply(
    lambda x: 'h' if fuzz.token_set_ratio(x.lower(), h_team.lower()) >= 75 else 'a'
)

df_shots.head()

,id,eventType,teamId,playerId,playerName,x,y,min,minAdded,isBlocked,...,onGoalShot,isSavedOffLine,isFromInsideBox,keeperId,firstName,lastName,fullName,teamColor,teamName,h_a
0,2795252373,Miss,6368,925847,Felipe Roman,82.710194,20.706242,1,NaN,False,...,"{'x': 0, 'y': 0.028390145309295595, 'zoomRatio...",False,False,NaN,Felipe,Roman,Felipe Roman,#008449,Atlético Nacional,h
1,2795253047,AttemptSaved,6368,1205222,Marino Hinestroza,88.600000,45.402038,3,NaN,True,...,"{'x': 0.5763888888888888, 'y': 0.3227513211640...",False,True,NaN,Marino,Hinestroza,Marino Hinestroza,#008449,Atlético Nacional,h
2,2795255419,AttemptSaved,6368,1205222,Marino Hinestroza,82.822816,17.553376,9,NaN,True,...,"{'x': 1.141203703703705, 'y': 0.32275132116402...",False,False,NaN,Marino,Hinestroza,Marino Hinestroza,#008449,Atlético Nacional,h
3,2795255629,AttemptSaved,8304,1037554,Diego Herazo,99.017544,23.648917,9,NaN,True,...,"{'x': 0.6772486772486757, 'y': 0.2361180717989...",False,True,NaN,Diego,Herazo,Diego Herazo,#1246A9,Nacional,h
4,2795257849,AttemptSaved,6368,1205222,Marino Hinestroza,93.200000,30.268000,14,NaN,True,...,"{'x': 1.141203703703705, 'y': 0.32275132116402...",False,True,NaN,Marino,Hinestroza,Marino Hinestroza,#008449,Atlético Nacional,h

In [ ]:
# ✅ Currently last option for Atletico Nacional vs Nacional | Claude

import re
import unicodedata

def normalize_team_name(name):
    """Normalize team name by removing accents and standardizing format"""
    # Convert to lowercase
    name = name.lower()

    # Remove accents
    name = unicodedata.normalize('NFKD', name).encode('ASCII', 'ignore').decode('utf-8')

    # Remove non-alphanumeric characters and standardize spaces
    name = re.sub(r'[^\w\s]', '', name)
    name = re.sub(r'\s+', ' ', name).strip()

    return name

def create_team_mapping(h_team, a_team, known_aliases=None):
    """Create a mapping dictionary for home and away teams with their possible variations"""
    if known_aliases is None:
        known_aliases = {}

    # Normalize the official team names
    norm_h = normalize_team_name(h_team)
    norm_a = normalize_team_name(a_team)

    # Create a mapping with the full names and their normalized versions
    mapping = {
        normalize_team_name(h_team): 'h',
        normalize_team_name(a_team): 'a'
    }

    # Add known aliases from the dictionary
    for team_name, aliases in known_aliases.items():
        if normalize_team_name(team_name) == norm_h:
            for alias in aliases:
                mapping[normalize_team_name(alias)] = 'h'
        elif normalize_team_name(team_name) == norm_a:
            for alias in aliases:
                mapping[normalize_team_name(alias)] = 'a'

    return mapping

def match_team_exact(team_name, mapping):
    """Match team_name to either h_team or a_team based on exact match after normalization"""
    norm_team = normalize_team_name(team_name)

    # Try exact match
    if norm_team in mapping:
        return mapping[norm_team]

    # If no match, return None (to be handled separately)
    return None

# Set up any known team aliases (add more as needed)
team_aliases = {
    "Botafogo RJ": ["Botafogo", "Botafogo de Futebol e Regatas"],
    "Club Atletico Penarol": ["Penarol", "Peñarol", "CA Penarol"],
    "Atletico Nacional": ["Atlético Nacional", "Atletico Nacional Medellin"],
    "Nacional": ["Club Nacional", "Nacional de Montevideo"],
    "Talleres": ["Talleres de Córdoba"]
    # Add more teams and their aliases as needed
}

# Create the mapping dictionary
team_mapping = create_team_mapping(h_team, a_team, team_aliases)

# Apply the exact matching function
df_shots['h_a'] = df_shots['teamName'].apply(
    lambda x: match_team_exact(x, team_mapping) or 'unknown'
)

# Handle any 'unknown' matches (could prompt for manual resolution)
if 'unknown' in df_shots['h_a'].values:
    print(f"Unmatched team names: {df_shots.loc[df_shots['h_a'] == 'unknown', 'teamName'].unique()}")
    # Could add code here to handle unknowns

df_shots.head(10)

,id,eventType,teamId,playerId,playerName,x,y,min,minAdded,isBlocked,...,onGoalShot,isSavedOffLine,isFromInsideBox,keeperId,firstName,lastName,fullName,teamColor,teamName,h_a
0,2798412877,AttemptSaved,10101,1281230,Juan Camilo Portilla,79.331553,30.220000,1,NaN,True,...,"{'x': 1.0201719576719581, 'y': 0.3227513211640...",False,False,NaN,Juan Camilo,Portilla,Juan Camilo Portilla,#1B2F62,Talleres de Córdoba,a
1,2798412887,AttemptSaved,10101,1086839,Diego Ortegoza,87.319118,25.418125,1,NaN,True,...,"{'x': 1.6858465608465611, 'y': 0.3227513211640...",False,False,NaN,Diego,Ortegoza,Diego Ortegoza,#1B2F62,Talleres de Córdoba,a
2,2798415701,Goal,6620,929167,Ivan Franco,98.921053,32.017500,9,NaN,False,...,"{'x': 0.2536375661375645, 'y': 0.2683932039153...",False,True,322966.0,Ivan,Franco,Ivan Franco,#181818,Libertad,h
3,2798416397,Post,10101,1086839,Diego Ortegoza,76.628641,27.446429,14,NaN,False,...,"{'x': 0.47552910052910013, 'y': 0.665343915343...",False,False,NaN,Diego,Ortegoza,Diego Ortegoza,#1B2F62,Talleres de Córdoba,a
4,2798418513,AttemptSaved,10101,723668,Cristian Alberto Tarragona,90.400000,25.302500,22,NaN,True,...,"{'x': 1, 'y': 0.32275132116402117, 'zoomRatio'...",False,True,NaN,Cristian Alberto,Tarragona,Cristian Alberto Tarragona,#1B2F62,Talleres de Córdoba,a
5,2798418613,Miss,10101,835409,Nahuel Lautaro Bustos,92.600000,56.849289,22,NaN,False,...,"{'x': 1.7694434348290113, 'y': 0.6772486772486...",False,False,NaN,Nahuel Lautaro,Bustos,Nahuel Lautaro Bustos,#1B2F62,Talleres de Córdoba,a
6,2798419049,AttemptSaved,10101,1086839,Diego Ortegoza,75.840291,23.859108,24,NaN,False,...,"{'x': 0.37466931216931143, 'y': 0.054358117248...",False,False,940259.0,Diego,Ortegoza,Diego Ortegoza,#1B2F62,Talleres de Córdoba,a
7,2798419069,AttemptSaved,10101,723668,Cristian Alberto Tarragona,77.079126,41.225952,24,NaN,True,...,"{'x': 1, 'y': 0.32275132116402117, 'zoomRatio'...",False,False,NaN,Cristian Alberto,Tarragona,Cristian Alberto Tarragona,#1B2F62,Talleres de Córdoba,a
8,2798422889,AttemptSaved,6620,1274403,Marcelo Fernandez,93.700000,28.286905,37,NaN,True,...,"{'x': 1.282407407407408, 'y': 0.32275132116402...",False,True,NaN,Marcelo,Fernandez,Marcelo Fernandez,#181818,Libertad,h
9,2798425473,AttemptSaved,10101,835409,Nahuel Lautaro Bustos,78.205340,30.645000,44,NaN,True,...,"{'x': 0.8386243386243388, 'y': 0.3227513211640...",False,False,NaN,Nahuel Lautaro,Bustos,Nahuel Lautaro Bustos,#1B2F62,Talleres de Córdoba,a

In [54]:
# DF to CSV
df_shots.to_csv('/home/axel/Code/Python/axel/streamlit/csv/CerroBolivar.csv', index=False)

Check concat file

In [2]:
shots = pd.read_csv('/home/axel/Code/Python/axel/streamlit/concat_files/concat_shots.csv')

Most shots

In [4]:
shots.head()

,id,eventType,teamId,playerId,playerName,x,y,min,minAdded,isBlocked,...,isFromInsideBox,keeperId,firstName,lastName,fullName,teamColor,matchRound,teamName,h_a,source_file
0,2795218637,Miss,10076,949735,Facundo Colidio,83.949029,47.433885,8,NaN,False,...,False,NaN,Facundo,Colidio,Facundo Colidio,#D01028,1,River Plate,a,universitario-de-deportes-vs-river-plate.csv
1,2795221171,AttemptSaved,10076,949735,Facundo Colidio,95.640351,45.892484,12,NaN,False,...,True,343431.0,Facundo,Colidio,Facundo Colidio,#D01028,1,River Plate,a,universitario-de-deportes-vs-river-plate.csv
2,2795221471,AttemptSaved,10076,469616,Maximiliano Meza,88.800000,44.981656,12,NaN,True,...,True,NaN,Maximiliano,Meza,Maximiliano Meza,#D01028,1,River Plate,a,universitario-de-deportes-vs-river-plate.csv
3,2795223825,Miss,10076,469616,Maximiliano Meza,96.508772,38.452381,17,NaN,False,...,True,NaN,Maximiliano,Meza,Maximiliano Meza,#D01028,1,River Plate,a,universitario-de-deportes-vs-river-plate.csv
4,2795223853,Goal,10076,447556,Paulo Diaz,99.017544,32.398750,17,NaN,False,...,True,343431.0,Paulo,Diaz,Paulo Diaz,#D01028,1,River Plate,a,universitario-de-deportes-vs-river-plate.csv

In [3]:
shots['teamName'].value_counts().sort_values(ascending=False)

# teams_df = shots['teamName'].value_counts().reset_index()
# teams_df.columns = ['teamName', 'count']
# teams_df.sort_values(by='count', ascending=False)

teamName
Racing Club                              42
Olimpia                                  41
Talleres de Córdoba                      41
Palmeiras                                38
Bolívar                                  37
Atlético Nacional                        36
Bahia                                    32
Flamengo                                 31
São Paulo                                30
Alianza Lima                             30
Vélez Sarsfield                          30
Cerro Porteño                            29
Estudiantes de La Plata                  29
LDU Quito                                28
River Plate                              27
Atlético Bucaramanga                     25
Central Córdoba (Santiago del Estero)    25
Botafogo                                 25
Nacional                                 24
Peñarol                                  23
Independiente del Valle                  23
Sporting Cristal                         22
San Antonio Bulo Bulo                    21
Colo-Colo                                21
Barcelona de Guayaquil                   19
Internacional                            18
Fortaleza EC                             18
Universidad de Chile                     17
Deportivo Táchira                        16
Libertad                                 16
Universitario de Deportes                14
Carabobo FC                              13
Name: count, dtype: int64

Filter by shots on target

In [39]:
target_shots = shots[shots['isOnTarget'] == True]
target_shots.shape

(238, 31)

In [54]:
target_shots.groupby('teamName')['isOnTarget'].count().reset_index(name='count').sort_values(by='count', ascending=False).reset_index(drop=True)

                                 teamName  count
0                             Racing Club     16
1                       Atlético Nacional     14
2                         Vélez Sarsfield     12
3                  Barcelona de Guayaquil     12
4                                   Bahia     11
5                               Palmeiras     11
6   Central Córdoba (Santiago del Estero)     10
7                            Alianza Lima     10
8                        Sporting Cristal     10
9                     Talleres de Córdoba     10
10                  San Antonio Bulo Bulo      9
11                                Olimpia      9
12                           Fortaleza EC      9
13                               Nacional      8
14                          Cerro Porteño      8
15                   Atlético Bucaramanga      7
16                          Internacional      7
17                Estudiantes de La Plata      7
18                               Flamengo      6
19                               Libertad      6
20                               Botafogo      6
21                                Bolívar      6
22                              Colo-Colo      6
23                            River Plate      5
24              Universitario de Deportes      4
25                              São Paulo      4
26                            Carabobo FC      4
27                Independiente del Valle      3
28                   Universidad de Chile      3
29                      Deportivo Táchira      2
30                              LDU Quito      2
31                                Peñarol      1

In [3]:
shots.columns

Index(['id', 'eventType', 'teamId', 'playerId', 'playerName', 'x', 'y', 'min',
       'minAdded', 'isBlocked', 'isOnTarget', 'blockedX', 'blockedY',
       'goalCrossedY', 'goalCrossedZ', 'expectedGoals',
       'expectedGoalsOnTarget', 'shotType', 'situation', 'period', 'isOwnGoal',
       'onGoalShot', 'isSavedOffLine', 'isFromInsideBox', 'keeperId',
       'firstName', 'lastName', 'fullName', 'teamColor', 'teamName',
       'source_file'],
      dtype='object')