In [1]:
import requests
import json
from bs4 import BeautifulSoup as bs
import pandas as pd

In [14]:
url = input("Enter the URL of the page to scrape: ")
r = requests.get(url)
soup = bs(r.content)
json_fotmob = json.loads(soup.find('script', attrs={'id': '__NEXT_DATA__'}).contents[0])

In [15]:
# General match info
json_fotmob['props']['pageProps']['general']

{'matchId': '4756765',
 'matchName': 'Libertad-vs-Talleres_Tue, Apr 8, 2025, 22:00 UTC',
 'matchRound': '2',
 'teamColors': {'darkMode': {'home': '#ffffff', 'away': '#424f86'},
  'lightMode': {'home': '#181818', 'away': '#424f86'},
  'fontDarkMode': {'home': 'rgba(29, 29, 29, 1.0)',
   'away': 'rgba(255, 255, 255, 1.0)'},
  'fontLightMode': {'home': 'rgba(255, 255, 255, 1.0)',
   'away': 'rgba(255, 255, 255, 1.0)'}},
 'leagueId': 898420,
 'leagueName': 'Copa Libertadores Grp. D',
 'leagueRoundName': '2',
 'parentLeagueId': 45,
 'countryCode': 'INT-2',
 'parentLeagueName': 'Copa Libertadores',
 'parentLeagueSeason': '2025',
 'parentLeagueTopScorerLink': 'https://data.fotmob.com/stats/45/season/25464/goals.json',
 'parentLeagueTournamentId': 25464,
 'homeTeam': {'name': 'Libertad', 'id': 6620},
 'awayTeam': {'name': 'Talleres', 'id': 10101},
 'coverageLevel': 'xG',
 'matchTimeUTC': 'Tue, Apr 8, 2025, 22:00 UTC',
 'matchTimeUTCDate': '2025-04-08T22:00:00.000Z',
 'started': True,
 'finished': True}

In [4]:
matchRound = int(json_fotmob['props']['pageProps']['general']['matchRound'])
matchRound

2

In [5]:
type(matchRound)

int

In [16]:
h_team = json_fotmob['props']['pageProps']['general']['homeTeam']['name']
h_team

'Libertad'

In [17]:
a_team = json_fotmob['props']['pageProps']['general']['awayTeam']['name']
a_team

'Talleres'

In [18]:
df = pd.DataFrame(json_fotmob['props']['pageProps']['content']['playerStats'])
df

,30646,35425,57051,96616,172446,247764,262597,322966,432949,497385,...,1451319,1457873,1504612,1609259,1613171,1671342,1736566,1737006,1739038,1739039
name,Roque Santa Cruz,Oscar Cardozo,Martin Silva,Martin Cáceres,Lorenzo Melgarejo,Diego Viera,Javier Burrai,Guido Herrera,Sebastian Palacios,Angel Lucena,...,Joaquin Mosqueira,Tomas Olmos,Matias Gomez,Santiago Puzzo,Rodrigo Villalba,Alexis Fretes,Aaron Troche,Emilio Suarez,Lucas Guinazu,Emiliano Chiavassa
id,30646,35425,57051,96616,172446,247764,262597,322966,432949,497385,...,1451319,1457873,1504612,1609259,1613171,1671342,1736566,1737006,1739038,1739039
optaId,5053,42795,61999,43693,78117,173958,103190,117879,155483,204948,...,609821,617027,624851,647546,586176,608904,685426,693635,616435,693638
teamId,6620,6620,6620,6620,6620,6620,10101,10101,10101,6620,...,10101,10101,10101,10101,6620,6620,6620,10101,6620,10101
teamName,Libertad,Libertad,Libertad,Libertad,Libertad,Libertad,Talleres de Córdoba,Talleres de Córdoba,Talleres de Córdoba,Libertad,...,Talleres de Córdoba,Talleres de Córdoba,Talleres de Córdoba,Talleres de Córdoba,Libertad,Libertad,Libertad,Talleres de Córdoba,Libertad,Talleres de Córdoba
isGoalkeeper,False,False,True,False,False,False,True,True,False,False,...,False,False,False,False,False,False,False,False,False,False
stats,"[{'title': 'Top stats', 'key': 'top_stats', 's...",[],[],[],"[{'title': 'Top stats', 'key': 'top_stats', 's...","[{'title': 'Top stats', 'key': 'top_stats', 's...",[],"[{'title': 'Top stats', 'key': 'top_stats', 's...","[{'title': 'Top stats', 'key': 'top_stats', 's...","[{'title': 'Top stats', 'key': 'top_stats', 's...",...,[],[],[],[],[],"[{'title': 'Top stats', 'key': 'top_stats', 's...",[],[],[],"[{'title': 'Top stats', 'key': 'top_stats', 's..."
shotmap,[],[],[],[],[],[],[],[],"[{'id': 2798436165, 'eventType': 'AttemptSaved...",[],...,[],[],[],[],[],[],[],[],[],[]
funFacts,[],[],[],[],[],[],[],"[{'key': 'fun_fact_pass_completion', 'fallback...",[],[],...,[],[],[],[],[],[],[],[],[],[]

In [19]:
df = df.T
df.head()

,name,id,optaId,teamId,teamName,isGoalkeeper,stats,shotmap,funFacts
30646,Roque Santa Cruz,30646,5053,6620,Libertad,False,"[{'title': 'Top stats', 'key': 'top_stats', 's...",[],[]
35425,Oscar Cardozo,35425,42795,6620,Libertad,False,[],[],[]
57051,Martin Silva,57051,61999,6620,Libertad,True,[],[],[]
96616,Martin Cáceres,96616,43693,6620,Libertad,False,[],[],[]
172446,Lorenzo Melgarejo,172446,78117,6620,Libertad,False,"[{'title': 'Top stats', 'key': 'top_stats', 's...",[],[]

In [20]:
df['player_id'] = df.index
df.reset_index(drop=True, inplace=True)
df.head()

,name,id,optaId,teamId,teamName,isGoalkeeper,stats,shotmap,funFacts,player_id
0,Roque Santa Cruz,30646,5053,6620,Libertad,False,"[{'title': 'Top stats', 'key': 'top_stats', 's...",[],[],30646
1,Oscar Cardozo,35425,42795,6620,Libertad,False,[],[],[],35425
2,Martin Silva,57051,61999,6620,Libertad,True,[],[],[],57051
3,Martin Cáceres,96616,43693,6620,Libertad,False,[],[],[],96616
4,Lorenzo Melgarejo,172446,78117,6620,Libertad,False,"[{'title': 'Top stats', 'key': 'top_stats', 's...",[],[],172446

In [21]:
new_df = df[['teamName', 'player_id']].copy()
new_df

               teamName player_id
0              Libertad     30646
1              Libertad     35425
2              Libertad     57051
3              Libertad     96616
4              Libertad    172446
5              Libertad    247764
6   Talleres de Córdoba    262597
7   Talleres de Córdoba    322966
8   Talleres de Córdoba    432949
9              Libertad    497385
10             Libertad    497399
11             Libertad    650438
12  Talleres de Córdoba    723668
13  Talleres de Córdoba    729090
14             Libertad    731801
15  Talleres de Córdoba    797871
16             Libertad    834604
17             Libertad    834633
18  Talleres de Córdoba    835409
19             Libertad    929167
20  Talleres de Córdoba    929338
21             Libertad    940259
22  Talleres de Córdoba    994916
23  Talleres de Córdoba   1048053
24             Libertad   1073739
25  Talleres de Córdoba   1086839
26  Talleres de Córdoba   1088084
27  Talleres de Córdoba   1200762
28  Talleres de Córdoba   1241957
29             Libertad   1274403
30  Talleres de Córdoba   1281230
31  Talleres de Córdoba   1321686
32             Libertad   1333209
33             Libertad   1354553
34             Libertad   1354560
35  Talleres de Córdoba   1437367
36  Talleres de Córdoba   1451319
37  Talleres de Córdoba   1457873
38  Talleres de Córdoba   1504612
39  Talleres de Córdoba   1609259
40             Libertad   1613171
41             Libertad   1671342
42             Libertad   1736566
43  Talleres de Córdoba   1737006
44             Libertad   1739038
45  Talleres de Córdoba   1739039

Shots

In [22]:
df_shots = pd.DataFrame(json_fotmob['props']['pageProps']['content']['shotmap']['shots'])
df_shots.head()

,id,eventType,teamId,playerId,playerName,x,y,min,minAdded,isBlocked,...,period,isOwnGoal,onGoalShot,isSavedOffLine,isFromInsideBox,keeperId,firstName,lastName,fullName,teamColor
0,2798412877,AttemptSaved,10101,1281230,Juan Camilo Portilla,79.331553,30.220000,1,NaN,True,...,FirstHalf,False,"{'x': 1.0201719576719581, 'y': 0.3227513211640...",False,False,NaN,Juan Camilo,Portilla,Juan Camilo Portilla,#1B2F62
1,2798412887,AttemptSaved,10101,1086839,Diego Ortegoza,87.319118,25.418125,1,NaN,True,...,FirstHalf,False,"{'x': 1.6858465608465611, 'y': 0.3227513211640...",False,False,NaN,Diego,Ortegoza,Diego Ortegoza,#1B2F62
2,2798415701,Goal,6620,929167,Ivan Franco,98.921053,32.017500,9,NaN,False,...,FirstHalf,False,"{'x': 0.2536375661375645, 'y': 0.2683932039153...",False,True,322966.0,Ivan,Franco,Ivan Franco,#181818
3,2798416397,Post,10101,1086839,Diego Ortegoza,76.628641,27.446429,14,NaN,False,...,FirstHalf,False,"{'x': 0.47552910052910013, 'y': 0.665343915343...",False,False,NaN,Diego,Ortegoza,Diego Ortegoza,#1B2F62
4,2798418513,AttemptSaved,10101,723668,Cristian Alberto Tarragona,90.400000,25.302500,22,NaN,True,...,FirstHalf,False,"{'x': 1, 'y': 0.32275132116402117, 'zoomRatio'...",False,True,NaN,Cristian Alberto,Tarragona,Cristian Alberto Tarragona,#1B2F62

In [15]:
# Add match round to shots DF
df_shots['matchRound'] = matchRound
df_shots.head()

,id,eventType,teamId,playerId,playerName,x,y,min,minAdded,isBlocked,...,isOwnGoal,onGoalShot,isSavedOffLine,isFromInsideBox,keeperId,firstName,lastName,fullName,teamColor,matchRound
0,2798414113,Miss,49681,1363138,Joshuan Berrios,91.000000,25.418125,5,NaN,False,...,False,"{'x': -2.220446049250313e-16, 'y': 0.020534900...",False,True,NaN,Joshuan,Berrios,Joshuan Berrios,#551515,2
1,2798415517,Miss,49681,593211,Gustavo Gonzalez,70.209223,23.718981,10,NaN,False,...,False,"{'x': 0, 'y': 0.030009718309976712, 'zoomRatio...",False,False,NaN,Gustavo,Gonzalez,Gustavo Gonzalez,#551515,2
2,2798416179,AttemptSaved,8517,501636,Jefferson Savarino,78.205340,28.286905,12,NaN,False,...,False,"{'x': 0.9394841269841275, 'y': 0.4195767175132...",False,False,800702.0,Jefferson,Savarino,Jefferson Savarino,#181818,2
3,2798416199,Miss,8517,1028704,Santiago Rodriguez,95.640351,38.788571,12,NaN,False,...,False,"{'x': 1.0685432013562148, 'y': 0.6772486772486...",False,True,NaN,Santiago,Rodriguez,Santiago Rodriguez,#181818,2
4,2798416929,Miss,8517,281240,Gonzalo Mastriani,90.400000,33.618750,15,NaN,False,...,False,"{'x': 1.8956720721422258, 'y': 0.6772486772486...",False,True,NaN,Gonzalo,Mastriani,Gonzalo Mastriani,#181818,2

In [23]:
new_df['player_id'] = new_df['player_id'].astype(int)
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   teamName   46 non-null     object
 1   player_id  46 non-null     int64
dtypes: int64(1), object(1)
memory usage: 868.0+ bytes

In [24]:
# Compare the two dataframes
df_shots['teamName'] = df_shots['playerId'].map(new_df.set_index('player_id')['teamName'])
df_shots.head()

,id,eventType,teamId,playerId,playerName,x,y,min,minAdded,isBlocked,...,isOwnGoal,onGoalShot,isSavedOffLine,isFromInsideBox,keeperId,firstName,lastName,fullName,teamColor,teamName
0,2798412877,AttemptSaved,10101,1281230,Juan Camilo Portilla,79.331553,30.220000,1,NaN,True,...,False,"{'x': 1.0201719576719581, 'y': 0.3227513211640...",False,False,NaN,Juan Camilo,Portilla,Juan Camilo Portilla,#1B2F62,Talleres de Córdoba
1,2798412887,AttemptSaved,10101,1086839,Diego Ortegoza,87.319118,25.418125,1,NaN,True,...,False,"{'x': 1.6858465608465611, 'y': 0.3227513211640...",False,False,NaN,Diego,Ortegoza,Diego Ortegoza,#1B2F62,Talleres de Córdoba
2,2798415701,Goal,6620,929167,Ivan Franco,98.921053,32.017500,9,NaN,False,...,False,"{'x': 0.2536375661375645, 'y': 0.2683932039153...",False,True,322966.0,Ivan,Franco,Ivan Franco,#181818,Libertad
3,2798416397,Post,10101,1086839,Diego Ortegoza,76.628641,27.446429,14,NaN,False,...,False,"{'x': 0.47552910052910013, 'y': 0.665343915343...",False,False,NaN,Diego,Ortegoza,Diego Ortegoza,#1B2F62,Talleres de Córdoba
4,2798418513,AttemptSaved,10101,723668,Cristian Alberto Tarragona,90.400000,25.302500,22,NaN,True,...,False,"{'x': 1, 'y': 0.32275132116402117, 'zoomRatio'...",False,True,NaN,Cristian Alberto,Tarragona,Cristian Alberto Tarragona,#1B2F62,Talleres de Córdoba

In [ ]:
# 2️⃣👍🏼👎🏼 Same result as above, but using merge
df_shots = pd.merge(
    df_shots,
    new_df[['player_id', 'teamName']],
    left_on='playerId',
    right_on='player_id',
    how='left'  # keeps all rows from df_shots even if no match
).drop('player_id', axis=1)  # drop the redundant column

df_shots

Options to get home or away team

In [ ]:
# ❌ Get home and away team -> worked fine until I hit Botafogo RJ & Botafogo | Check DS
df_shots['h_a'] = df_shots['teamName'].apply(lambda x: 'h' if x == h_team else 'a')

In [22]:
from fuzzywuzzy import fuzz

In [ ]:
# ❌ fuzzywuzzy to handle slight variation -> worked fine until I hit Club Atletico Penarol & Peñarol

# Define a similarity threshold (e.g., 70 means 70% similar)
threshold = 70

df_shots['h_a'] = df_shots['teamName'].apply(
    lambda x: 'h' if fuzz.ratio(x.lower(), h_team.lower()) >= threshold else 'a'
)

df_shots.head()

,id,eventType,teamId,playerId,playerName,x,y,min,minAdded,isBlocked,...,onGoalShot,isSavedOffLine,isFromInsideBox,keeperId,firstName,lastName,fullName,teamColor,teamName,h_a
0,2798440475,Miss,8450,1256494,Maximiliano Silvera,95.350877,27.698571,2,NaN,False,...,"{'x': 1.1102230246251565e-16, 'y': 0.119409606...",False,True,NaN,Maximiliano,Silvera,Maximiliano Silvera,#d6a200,Peñarol,a
1,2798441825,AttemptSaved,8450,834965,Leonardo Fernandez,74.038350,36.440000,7,NaN,False,...,"{'x': 0.6167328042328032, 'y': 0.0424672791005...",False,False,681451.0,Leonardo,Fernandez,Leonardo Fernandez,#d6a200,Peñarol,a
2,2798441949,AttemptSaved,8450,281238,Maximiliano Olivera,98.631579,42.292812,7,NaN,False,...,"{'x': 0.73776455026455, 'y': 0.215733777830687...",False,True,681451.0,Maximiliano,Olivera,Maximiliano Olivera,#d6a200,Peñarol,a
3,2798442007,Miss,8450,1436129,Rodrigo Perez,96.701754,31.636250,8,NaN,False,...,"{'x': 1.2735823758471292, 'y': 0.6772486772486...",False,True,NaN,Rodrigo,Perez,Rodrigo Perez,#d6a200,Peñarol,a
4,2798446287,AttemptSaved,8450,834965,Leonardo Fernandez,72.349029,38.536429,27,NaN,False,...,"{'x': 1.26223544973545, 'y': 0.290476189047619...",False,False,681451.0,Leonardo,Fernandez,Leonardo Fernandez,#d6a200,Peñarol,a

In [24]:
# ❌ Option for Peñarol -> worked fine until I hit Atletico Nacional vs Nacional | Check DS

threshold = 80  # Adjust based on testing

df_shots['h_a'] = df_shots['teamName'].apply(
    lambda x: 'h' if fuzz.partial_ratio(x.lower(), h_team.lower()) >= threshold else 'a'
)

df_shots.head()

,id,eventType,teamId,playerId,playerName,x,y,min,minAdded,isBlocked,...,onGoalShot,isSavedOffLine,isFromInsideBox,keeperId,firstName,lastName,fullName,teamColor,teamName,h_a
0,2795252373,Miss,6368,925847,Felipe Roman,82.710194,20.706242,1,NaN,False,...,"{'x': 0, 'y': 0.028390145309295595, 'zoomRatio...",False,False,NaN,Felipe,Roman,Felipe Roman,#008449,Atlético Nacional,h
1,2795253047,AttemptSaved,6368,1205222,Marino Hinestroza,88.600000,45.402038,3,NaN,True,...,"{'x': 0.5763888888888888, 'y': 0.3227513211640...",False,True,NaN,Marino,Hinestroza,Marino Hinestroza,#008449,Atlético Nacional,h
2,2795255419,AttemptSaved,6368,1205222,Marino Hinestroza,82.822816,17.553376,9,NaN,True,...,"{'x': 1.141203703703705, 'y': 0.32275132116402...",False,False,NaN,Marino,Hinestroza,Marino Hinestroza,#008449,Atlético Nacional,h
3,2795255629,AttemptSaved,8304,1037554,Diego Herazo,99.017544,23.648917,9,NaN,True,...,"{'x': 0.6772486772486757, 'y': 0.2361180717989...",False,True,NaN,Diego,Herazo,Diego Herazo,#1246A9,Nacional,h
4,2795257849,AttemptSaved,6368,1205222,Marino Hinestroza,93.200000,30.268000,14,NaN,True,...,"{'x': 1.141203703703705, 'y': 0.32275132116402...",False,True,NaN,Marino,Hinestroza,Marino Hinestroza,#008449,Atlético Nacional,h

In [25]:
# ❌ Option for Peñarol -> worked fine until I hit Atletico Nacional vs Nacional | Check DS

df_shots['h_a'] = df_shots['teamName'].apply(
    lambda x: 'h' if fuzz.token_set_ratio(x.lower(), h_team.lower()) >= 75 else 'a'
)

df_shots.head()

,id,eventType,teamId,playerId,playerName,x,y,min,minAdded,isBlocked,...,onGoalShot,isSavedOffLine,isFromInsideBox,keeperId,firstName,lastName,fullName,teamColor,teamName,h_a
0,2795252373,Miss,6368,925847,Felipe Roman,82.710194,20.706242,1,NaN,False,...,"{'x': 0, 'y': 0.028390145309295595, 'zoomRatio...",False,False,NaN,Felipe,Roman,Felipe Roman,#008449,Atlético Nacional,h
1,2795253047,AttemptSaved,6368,1205222,Marino Hinestroza,88.600000,45.402038,3,NaN,True,...,"{'x': 0.5763888888888888, 'y': 0.3227513211640...",False,True,NaN,Marino,Hinestroza,Marino Hinestroza,#008449,Atlético Nacional,h
2,2795255419,AttemptSaved,6368,1205222,Marino Hinestroza,82.822816,17.553376,9,NaN,True,...,"{'x': 1.141203703703705, 'y': 0.32275132116402...",False,False,NaN,Marino,Hinestroza,Marino Hinestroza,#008449,Atlético Nacional,h
3,2795255629,AttemptSaved,8304,1037554,Diego Herazo,99.017544,23.648917,9,NaN,True,...,"{'x': 0.6772486772486757, 'y': 0.2361180717989...",False,True,NaN,Diego,Herazo,Diego Herazo,#1246A9,Nacional,h
4,2795257849,AttemptSaved,6368,1205222,Marino Hinestroza,93.200000,30.268000,14,NaN,True,...,"{'x': 1.141203703703705, 'y': 0.32275132116402...",False,True,NaN,Marino,Hinestroza,Marino Hinestroza,#008449,Atlético Nacional,h

In [ ]:
# ✅ Currently last option for Atletico Nacional vs Nacional | Claude

import re
import unicodedata

def normalize_team_name(name):
    """Normalize team name by removing accents and standardizing format"""
    # Convert to lowercase
    name = name.lower()

    # Remove accents
    name = unicodedata.normalize('NFKD', name).encode('ASCII', 'ignore').decode('utf-8')

    # Remove non-alphanumeric characters and standardize spaces
    name = re.sub(r'[^\w\s]', '', name)
    name = re.sub(r'\s+', ' ', name).strip()

    return name

def create_team_mapping(h_team, a_team, known_aliases=None):
    """Create a mapping dictionary for home and away teams with their possible variations"""
    if known_aliases is None:
        known_aliases = {}

    # Normalize the official team names
    norm_h = normalize_team_name(h_team)
    norm_a = normalize_team_name(a_team)

    # Create a mapping with the full names and their normalized versions
    mapping = {
        normalize_team_name(h_team): 'h',
        normalize_team_name(a_team): 'a'
    }

    # Add known aliases from the dictionary
    for team_name, aliases in known_aliases.items():
        if normalize_team_name(team_name) == norm_h:
            for alias in aliases:
                mapping[normalize_team_name(alias)] = 'h'
        elif normalize_team_name(team_name) == norm_a:
            for alias in aliases:
                mapping[normalize_team_name(alias)] = 'a'

    return mapping

def match_team_exact(team_name, mapping):
    """Match team_name to either h_team or a_team based on exact match after normalization"""
    norm_team = normalize_team_name(team_name)

    # Try exact match
    if norm_team in mapping:
        return mapping[norm_team]

    # If no match, return None (to be handled separately)
    return None

# Set up any known team aliases (add more as needed)
team_aliases = {
    "Botafogo RJ": ["Botafogo", "Botafogo de Futebol e Regatas"],
    "Club Atletico Penarol": ["Penarol", "Peñarol", "CA Penarol"],
    "Atletico Nacional": ["Atlético Nacional", "Atletico Nacional Medellin"],
    "Nacional": ["Club Nacional", "Nacional de Montevideo"],
    "Talleres": ["Talleres de Córdoba"]
    # Add more teams and their aliases as needed
}

# Create the mapping dictionary
team_mapping = create_team_mapping(h_team, a_team, team_aliases)

# Apply the exact matching function
df_shots['h_a'] = df_shots['teamName'].apply(
    lambda x: match_team_exact(x, team_mapping) or 'unknown'
)

# Handle any 'unknown' matches (could prompt for manual resolution)
if 'unknown' in df_shots['h_a'].values:
    print(f"Unmatched team names: {df_shots.loc[df_shots['h_a'] == 'unknown', 'teamName'].unique()}")
    # Could add code here to handle unknowns

df_shots.head(10)

,id,eventType,teamId,playerId,playerName,x,y,min,minAdded,isBlocked,...,onGoalShot,isSavedOffLine,isFromInsideBox,keeperId,firstName,lastName,fullName,teamColor,teamName,h_a
0,2798412877,AttemptSaved,10101,1281230,Juan Camilo Portilla,79.331553,30.220000,1,NaN,True,...,"{'x': 1.0201719576719581, 'y': 0.3227513211640...",False,False,NaN,Juan Camilo,Portilla,Juan Camilo Portilla,#1B2F62,Talleres de Córdoba,a
1,2798412887,AttemptSaved,10101,1086839,Diego Ortegoza,87.319118,25.418125,1,NaN,True,...,"{'x': 1.6858465608465611, 'y': 0.3227513211640...",False,False,NaN,Diego,Ortegoza,Diego Ortegoza,#1B2F62,Talleres de Córdoba,a
2,2798415701,Goal,6620,929167,Ivan Franco,98.921053,32.017500,9,NaN,False,...,"{'x': 0.2536375661375645, 'y': 0.2683932039153...",False,True,322966.0,Ivan,Franco,Ivan Franco,#181818,Libertad,h
3,2798416397,Post,10101,1086839,Diego Ortegoza,76.628641,27.446429,14,NaN,False,...,"{'x': 0.47552910052910013, 'y': 0.665343915343...",False,False,NaN,Diego,Ortegoza,Diego Ortegoza,#1B2F62,Talleres de Córdoba,a
4,2798418513,AttemptSaved,10101,723668,Cristian Alberto Tarragona,90.400000,25.302500,22,NaN,True,...,"{'x': 1, 'y': 0.32275132116402117, 'zoomRatio'...",False,True,NaN,Cristian Alberto,Tarragona,Cristian Alberto Tarragona,#1B2F62,Talleres de Córdoba,a
5,2798418613,Miss,10101,835409,Nahuel Lautaro Bustos,92.600000,56.849289,22,NaN,False,...,"{'x': 1.7694434348290113, 'y': 0.6772486772486...",False,False,NaN,Nahuel Lautaro,Bustos,Nahuel Lautaro Bustos,#1B2F62,Talleres de Córdoba,a
6,2798419049,AttemptSaved,10101,1086839,Diego Ortegoza,75.840291,23.859108,24,NaN,False,...,"{'x': 0.37466931216931143, 'y': 0.054358117248...",False,False,940259.0,Diego,Ortegoza,Diego Ortegoza,#1B2F62,Talleres de Córdoba,a
7,2798419069,AttemptSaved,10101,723668,Cristian Alberto Tarragona,77.079126,41.225952,24,NaN,True,...,"{'x': 1, 'y': 0.32275132116402117, 'zoomRatio'...",False,False,NaN,Cristian Alberto,Tarragona,Cristian Alberto Tarragona,#1B2F62,Talleres de Córdoba,a
8,2798422889,AttemptSaved,6620,1274403,Marcelo Fernandez,93.700000,28.286905,37,NaN,True,...,"{'x': 1.282407407407408, 'y': 0.32275132116402...",False,True,NaN,Marcelo,Fernandez,Marcelo Fernandez,#181818,Libertad,h
9,2798425473,AttemptSaved,10101,835409,Nahuel Lautaro Bustos,78.205340,30.645000,44,NaN,True,...,"{'x': 0.8386243386243388, 'y': 0.3227513211640...",False,False,NaN,Nahuel Lautaro,Bustos,Nahuel Lautaro Bustos,#1B2F62,Talleres de Córdoba,a

In [54]:
# DF to CSV
df_shots.to_csv('/home/axel/Code/Python/axel/streamlit/csv/CerroBolivar.csv', index=False)

Check concat file

In [2]:
shots = pd.read_csv('/home/axel/Code/Python/axel/streamlit/concat_files/concat_shots.csv')

In [5]:
shots.columns

Index(['id', 'eventType', 'teamId', 'playerId', 'playerName', 'x', 'y', 'min',
       'minAdded', 'isBlocked', 'isOnTarget', 'blockedX', 'blockedY',
       'goalCrossedY', 'goalCrossedZ', 'expectedGoals',
       'expectedGoalsOnTarget', 'shotType', 'situation', 'period', 'isOwnGoal',
       'onGoalShot', 'isSavedOffLine', 'isFromInsideBox', 'keeperId',
       'firstName', 'lastName', 'fullName', 'teamColor', 'matchRound',
       'teamName', 'h_a', 'source_file'],
      dtype='object')

Check null values xG

In [3]:
def check_null_columns(df):
    null_columns = df.columns[df.isnull().any()]
    if null_columns.empty:
        print("No columns with null values.")
    else:
        print("Columns with null values:")
        for col in null_columns:
            print(f"{col}: {df[col].isnull().sum()} null values of {df.shape[0]} rows")

# Example usage
check_null_columns(shots)

Columns with null values:
minAdded: 1113 null values of 1263 rows
blockedX: 569 null values of 1263 rows
blockedY: 569 null values of 1263 rows
keeperId: 828 null values of 1263 rows
firstName: 53 null values of 1263 rows

In [13]:
# check specific column with NA
shots[shots['expectedGoals'].isnull()]

Empty DataFrame
Columns: [id, eventType, teamId, playerId, playerName, x, y, min, minAdded, isBlocked, isOnTarget, blockedX, blockedY, goalCrossedY, goalCrossedZ, expectedGoals, expectedGoalsOnTarget, shotType, situation, period, isOwnGoal, onGoalShot, isSavedOffLine, isFromInsideBox, keeperId, firstName, lastName, fullName, teamColor, matchRound, teamName, h_a, source_file]
Index: []

[0 rows x 33 columns]

In [11]:
shots['expectedGoals'] = shots['expectedGoals'].fillna(0.00)

In [14]:
shots['expectedGoalsOnTarget'] = shots['expectedGoalsOnTarget'].fillna(0.00)

In [4]:
# check specific column with NA
shots[shots['h_a'].isnull()]

,id,eventType,teamId,playerId,playerName,x,y,min,minAdded,isBlocked,...,isFromInsideBox,keeperId,firstName,lastName,fullName,teamColor,matchRound,teamName,h_a,source_file
191,2798470541,Miss,6453,729089,Byron Castillo,77.191748,20.706242,62,NaN,False,...,False,NaN,Byron,Castillo,Byron Castillo,#DA0203,2,Barcelona de Guayaquil,NaN,river-plate-vs-barcelona-sc.csv
193,2798471685,Miss,6453,207135,Dixon Arroyo,94.385965,37.660000,67,NaN,False,...,True,NaN,Dixon,Arroyo,Dixon Arroyo,#DA0203,2,Barcelona de Guayaquil,NaN,river-plate-vs-barcelona-sc.csv

In [5]:
shots['h_a'] = shots['h_a'].fillna('a')

In [9]:
# find specific row
shots.loc[shots['id'] == 2798471685]

,id,eventType,teamId,playerId,playerName,x,y,min,minAdded,isBlocked,...,isFromInsideBox,keeperId,firstName,lastName,fullName,teamColor,matchRound,teamName,h_a,source_file
193,2798471685,Miss,6453,207135,Dixon Arroyo,94.385965,37.66,67,NaN,False,...,True,NaN,Dixon,Arroyo,Dixon Arroyo,#DA0203,2,Barcelona de Guayaquil,a,river-plate-vs-barcelona-sc.csv

In [10]:
# Save new DF to CSV
shots.to_csv('/home/axel/Code/Python/axel/streamlit/concat_files/concat_shots.csv', index=False)

Most shots

In [4]:
shots['teamName'].value_counts().sort_values(ascending=False)

# teams_df = shots['teamName'].value_counts().reset_index()
# teams_df.columns = ['teamName', 'count']
# teams_df.sort_values(by='count', ascending=False)

teamName
Olimpia                                  61
Bolívar                                  56
Cerro Porteño                            54
Racing Club                              52
Talleres de Córdoba                      52
Vélez Sarsfield                          51
Palmeiras                                48
Central Córdoba (Santiago del Estero)    47
Alianza Lima                             47
Atlético Nacional                        46
Estudiantes de La Plata                  46
Bahia                                    45
River Plate                              43
Atlético Bucaramanga                     42
Flamengo                                 41
LDU Quito                                39
Independiente del Valle                  37
São Paulo                                37
Sporting Cristal                         35
San Antonio Bulo Bulo                    35
Barcelona de Guayaquil                   34
Botafogo                                 33
Nacional                                 33
Internacional                            32
Fortaleza EC                             31
Peñarol                                  31
Colo-Colo                                29
Universidad de Chile                     28
Libertad                                 27
Universitario de Deportes                26
Deportivo Táchira                        25
Carabobo FC                              20
Name: count, dtype: int64

Filter by shots on target

In [4]:
target_shots = shots[shots['isOnTarget'] == True]
target_shots.shape

(740, 33)

In [6]:
target_shots['teamName'].value_counts().sort_values(ascending=False)

teamName
Olimpia                                  42
Vélez Sarsfield                          36
Bolívar                                  34
Racing Club                              33
Atlético Nacional                        32
Alianza Lima                             31
Estudiantes de La Plata                  29
Talleres de Córdoba                      29
Palmeiras                                29
River Plate                              27
Cerro Porteño                            27
Central Córdoba (Santiago del Estero)    26
Atlético Bucaramanga                     23
Bahia                                    23
Flamengo                                 23
Nacional                                 22
LDU Quito                                21
Internacional                            20
Botafogo                                 20
Barcelona de Guayaquil                   20
São Paulo                                19
Sporting Cristal                         19
San Antonio Bulo Bulo                    18
Fortaleza EC                             18
Independiente del Valle                  18
Peñarol                                  17
Colo-Colo                                17
Universidad de Chile                     16
Libertad                                 15
Universitario de Deportes                14
Deportivo Táchira                        13
Carabobo FC                               9
Name: count, dtype: int64

In [5]:
target_shots.groupby('teamName')['isOnTarget'].count().reset_index(name='count').sort_values(by='count', ascending=False).reset_index(drop=True)

                                 teamName  count
0                                 Olimpia     42
1                         Vélez Sarsfield     36
2                                 Bolívar     34
3                             Racing Club     33
4                       Atlético Nacional     32
5                            Alianza Lima     31
6                               Palmeiras     29
7                 Estudiantes de La Plata     29
8                     Talleres de Córdoba     29
9                           Cerro Porteño     27
10                            River Plate     27
11  Central Córdoba (Santiago del Estero)     26
12                               Flamengo     23
13                   Atlético Bucaramanga     23
14                                  Bahia     23
15                               Nacional     22
16                              LDU Quito     21
17                          Internacional     20
18                 Barcelona de Guayaquil     20
19                               Botafogo     20
20                              São Paulo     19
21                       Sporting Cristal     19
22                           Fortaleza EC     18
23                Independiente del Valle     18
24                  San Antonio Bulo Bulo     18
25                                Peñarol     17
26                              Colo-Colo     17
27                   Universidad de Chile     16
28                               Libertad     15
29              Universitario de Deportes     14
30                      Deportivo Táchira     13
31                            Carabobo FC      9

In [7]:
# Group by 'teamName' and 'playerId' and count occurrences
target_shots.groupby(['teamName', 'playerId']).size().reset_index(name='count')

# Now `grouped_counts_df` holds the result as a DataFrame
# You can print it to see the results:
# print(grouped_counts_df)

            teamName  playerId  count
0       Alianza Lima     33101      1
1       Alianza Lima    127268      3
2       Alianza Lima    166121      1
3       Alianza Lima    200257      1
4       Alianza Lima    248704      1
..               ...       ...    ...
256  Vélez Sarsfield    675102      3
257  Vélez Sarsfield    723682      1
258  Vélez Sarsfield   1393542      1
259  Vélez Sarsfield   1607035      1
260  Vélez Sarsfield   1618860      4

[261 rows x 3 columns]

In [7]:
# Group by teamName and playerId, then get the first playerName for each group
target_shots.groupby(['teamName', 'playerId'])['playerName'].first().reset_index()

            teamName  playerId               playerName
0       Alianza Lima     18694            Hernan Barcos
1       Alianza Lima     33101      José Paolo Guerrero
2       Alianza Lima    127268  Pablo Damian Lavandeira
3       Alianza Lima    166121          Pablo Cepellini
4       Alianza Lima    200257          Fernando Gaibor
..               ...       ...                      ...
324  Vélez Sarsfield    954660        Matias Pellegrini
325  Vélez Sarsfield   1083898           Augustin Lagos
326  Vélez Sarsfield   1393542        Christian Ordonez
327  Vélez Sarsfield   1607035           Alvaro Montoro
328  Vélez Sarsfield   1618860            Maher Carrizo

[329 rows x 3 columns]

In [9]:
# Group by teamName and playerId, then aggregate:
# - Get the first playerName for the group
# - Get the size (count) of the group
target_shots.groupby(['teamName', 'playerId']).agg(
    playerName=('playerName', 'first'), # Get the first player name found in the group
    count=('playerId', 'size') # Count the number of rows in the group (using 'size') We apply 'size' to an arbitrary column like 'playerId'
).reset_index() # Turns the grouped output (with MultiIndex) back into a DataFrame

            teamName  playerId               playerName  count
0       Alianza Lima     33101      José Paolo Guerrero      1
1       Alianza Lima    127268  Pablo Damian Lavandeira      3
2       Alianza Lima    166121          Pablo Cepellini      1
3       Alianza Lima    200257          Fernando Gaibor      1
4       Alianza Lima    248704            Miguel Trauco      1
..               ...       ...                      ...    ...
256  Vélez Sarsfield    675102           Michael Santos      3
257  Vélez Sarsfield    723682           Agustin Bouzat      1
258  Vélez Sarsfield   1393542        Christian Ordonez      1
259  Vélez Sarsfield   1607035           Alvaro Montoro      1
260  Vélez Sarsfield   1618860            Maher Carrizo      4

[261 rows x 4 columns]

DS

In [ ]:
# op 1 Group by team first, then show players
(target_shots.groupby(['teamName', 'playerId', 'playerName'])
    .size()
    .reset_index(name='count')
    .sort_values(['teamName', 'count'], ascending=[True, False]))

            teamName  playerId               playerName  count
6       Alianza Lima    831684            Kevin Quevedo      4
1       Alianza Lima    127268  Pablo Damian Lavandeira      3
7       Alianza Lima   1086550            Ricardo Lagos      2
8       Alianza Lima   1098460             Alan Cantero      2
10      Alianza Lima   1312034        Guillermo Enrique      2
..               ...       ...                      ...    ...
254  Vélez Sarsfield    523417          Emanuel Mammana      2
252  Vélez Sarsfield    288759        Francisco Pizzini      1
257  Vélez Sarsfield    723682           Agustin Bouzat      1
258  Vélez Sarsfield   1393542        Christian Ordonez      1
259  Vélez Sarsfield   1607035           Alvaro Montoro      1

[261 rows x 4 columns]

In [ ]:
# op 2 Create a hierarchical index (multi-index)
result = (target_shots.groupby(['teamName', 'playerId'])
           .agg(playerName=('playerName', 'first'),
                count=('playerId', 'size')))
# Keep it as a multi-index DataFrame (don't reset_index)
result

                                       playerName  count
teamName        playerId
Alianza Lima    33101         José Paolo Guerrero      1
                127268    Pablo Damian Lavandeira      3
                166121            Pablo Cepellini      1
                200257            Fernando Gaibor      1
                248704              Miguel Trauco      1
...                                           ...    ...
Vélez Sarsfield 675102             Michael Santos      3
                723682             Agustin Bouzat      1
                1393542         Christian Ordonez      1
                1607035            Alvaro Montoro      1
                1618860             Maher Carrizo      4

[261 rows x 2 columns]

In [8]:
# op 3 Format the output for better readability
result = (target_shots.groupby(['teamName', 'playerId'])
           .agg(playerName=('playerName', 'first'),
                count=('playerId', 'size'))
           .reset_index()
           .sort_values(['teamName', 'count'], ascending=[True, False]))

# Print with team headers
current_team = None
for _, row in result.iterrows():
    if row['teamName'] != current_team:
        print(f"\n=== {row['teamName']} ===")
        current_team = row['teamName']
    print(f"{row['playerName']}: {row['count']} shots")

result

=== Alianza Lima ===
Kevin Quevedo: 8 shots
José Paolo Guerrero: 5 shots
Pablo Damian Lavandeira: 3 shots
Fernando Gaibor: 2 shots
Eryc Castillo: 2 shots
Ricardo Lagos: 2 shots
Alan Cantero: 2 shots
Guillermo Enrique: 2 shots
Hernan Barcos: 1 shots
Pablo Cepellini: 1 shots
Miguel Trauco: 1 shots
Erick Noriega: 1 shots
Marco Huaman: 1 shots

=== Atlético Bucaramanga ===
Luciano Pons: 6 shots
Frank Castaneda: 5 shots
Carlos Henao: 4 shots
Fabian Sambueza: 3 shots
Kevin Londono: 2 shots
Sherman Cardenas: 1 shots
Leonardo Flores: 1 shots
Aldair Zarate: 1 shots

=== Atlético Nacional ===
Alfredo Morelos: 8 shots
Marino Hinestroza: 7 shots
Edwin Cardona: 3 shots
Dairon Asprilla: 3 shots
Felipe Roman: 2 shots
Kevin Viveros: 2 shots
Juan Zapata: 2 shots
William Tesillo: 1 shots
Jorman Campuzano: 1 shots
Juan Jose Arias: 1 shots
Kevin Parra: 1 shots
Elkin Rivero: 1 shots

=== Bahia ===
Luciano Rodriguez: 6 shots
Jean Lucas: 5 shots
Erick Pulga: 3 shots
Santiago Ramos: 2 shots
Willian José: 1 shots
Santiago Arias: 1 shots
Gilberto Junior: 1 shots
Cauly Oliveira Souza: 1 shots
Ademir Santos: 1 shots
Erick: 1 shots
Rodrigo Nestor: 1 shots

=== Barcelona de Guayaquil ===
Octavio Rivero: 6 shots
Janner Corozo: 4 shots
Cristhian Solano: 4 shots
Bryan Carabali: 2 shots
Dixon Arroyo: 1 shots
Gabriel Cortez: 1 shots
Jhonny Quinonez: 1 shots
Joaquin Valiente: 1 shots

=== Bolívar ===
Ramiro Vaca: 9 shots
Fabio Gomes: 7 shots
Jhon Velasquez: 4 shots
Leonel Justiniano: 3 shots
Carlos Melgar: 3 shots
Robson Matheus: 3 shots
Patricio Rodriguez: 2 shots
Erwin Saavedra: 1 shots
Jose Sagredo: 1 shots
Jesus Sagredo: 1 shots

=== Botafogo ===
Jefferson Savarino: 5 shots
Igor Jesus: 3 shots
Matheus Martins: 3 shots
Artur Guimaraes: 2 shots
Santiago Rodriguez: 2 shots
Gonzalo Mastriani: 1 shots
Alex Telles: 1 shots
Patrick Carneiro: 1 shots
Elias Manoel: 1 shots
Cuiabano: 1 shots

=== Carabobo FC ===
Gustavo Gonzalez: 2 shots
Edson Tortolero: 2 shots
Carlos Ramos: 2 shots
Robert Hernandez: 1 shots
Flabian Londono: 1 shots
Miguel Pernia: 1 shots

=== Central Córdoba (Santiago del Estero) ===
Leonardo Heredia: 6 shots
Jose Florentin: 5 shots
Luis Miguel Angulo: 4 shots
Nicolas Quagliata: 3 shots
Ivan Gomez: 2 shots
Matias Perello: 2 shots
Braian Cufré: 1 shots
Gaston Veron: 1 shots
Dylan Glaby: 1 shots
Fernando Martinez: 1 shots

=== Cerro Porteño ===
Cecilio Dominguez: 5 shots
Jonathan Torres: 5 shots
Federico Carrizo: 4 shots
Juan Iturbe: 2 shots
Gustavo Velazquez: 2 shots
Alan Benitez: 2 shots
Jorge Morel: 2 shots
Robert Piris: 1 shots
Gaston Claudio Gimenez: 1 shots
Guillermo Benitez: 1 shots
Leonardo Rivas: 1 shots
Gabriel Aguayo: 1 shots

=== Colo-Colo ===
Javier Correa: 8 shots
Lucas Cepeda: 4 shots
Alan Saldivia: 2 shots
Mauricio Isla: 1 shots
Esteban Pavez: 1 shots
Cristian Zavala: 1 shots

=== Deportivo Táchira ===
Carlos Sosa: 3 shots
Carlos Calzadilla: 3 shots
Juan Requena: 2 shots
Roberto Rosales: 1 shots
Mauro Angel Maidana: 1 shots
Lucas Cano: 1 shots
Daniel Saggiomo: 1 shots
José Balza: 1 shots

=== Estudiantes de La Plata ===
Guido Carrillo: 6 shots
Santiago Ascacibar: 5 shots
Tiago Palacios: 5 shots
Eric Meza: 3 shots
Ezequiel Piovi: 2 shots
Santiago Nunez: 2 shots
Jose Sosa: 1 shots
Ramiro Funes Mori: 1 shots
Gabriel Neves: 1 shots
Santiago Arzamendia: 1 shots
Cristian Medina: 1 shots
Gaston Benedetti: 1 shots

=== Flamengo ===
Giorgian De Arrascaeta: 4 shots
Bruno Henrique: 3 shots
Juninho: 3 shots
Luiz Araujo: 3 shots
Gérson: 2 shots
Gonzalo Plata: 2 shots
Éverton: 1 shots
Ayrton Lucas: 1 shots
Nicolás de la Cruz: 1 shots
Leo Ortiz: 1 shots
Wesley: 1 shots
Evertton Araujo: 1 shots

=== Fortaleza EC ===
Marinho: 3 shots
Moises Vieira: 3 shots
Lucas Sasha: 2 shots
Deyverson: 2 shots
Diogo Barbosa: 1 shots
Guillermo Fernandez: 1 shots
Yago Pikachu: 1 shots
Juan Martin Lucero: 1 shots
Dylan Borrero: 1 shots
Calebe: 1 shots
Eros Mancuso: 1 shots
Gustavo Mancha: 1 shots

=== Independiente del Valle ===
Jordy Alcivar: 4 shots
Claudio Spinelli: 3 shots
Jean Arroyo: 3 shots
Junior Sornoza: 2 shots
Juan Cazares: 2 shots
Aron Rodriguez: 2 shots
Jhegson Méndez: 1 shots
Luis Zarate: 1 shots

=== Internacional ===
Alan Patrick: 6 shots
Wesley: 4 shots
Vitinho: 3 shots
Enner Valencia: 2 shots
Braian Aguirre: 2 shots
Fernando: 1 shots
Rafael Santos Borre: 1 shots
Alexandro Bernabei: 1 shots

=== LDU Quito ===
Alex Arce: 4 shots
Bryan Ramirez: 4 shots
Leonel Quinonez: 3 shots
Lisandro Alzugaray: 2 shots
Alexander Alvarado: 2 shots
Michael Estrada: 1 shots
Ricardo Ade: 1 shots
Jose Quinteros: 1 shots
Gian Allala: 1 shots
Gabriel Villamil: 1 shots
Daniel de la Cruz: 1 shots

=== Libertad ===
Ivan Franco: 3 shots
Marcelo Fernandez: 2 shots
Adrian Alcaraz: 2 shots
Lorenzo Melgarejo: 1 shots
Diego Viera: 1 shots
Ivan Ramirez: 1 shots
Hernesto Caballero: 1 shots
Matias Espinoza: 1 shots
Hugo Martinez: 1 shots
Lucas Sanabria: 1 shots
Gustavo Aguilar: 1 shots

=== Nacional ===
Jeremia Recoba: 4 shots
Diego Herazo: 3 shots
Luciano Boggio: 3 shots
Eduardo Vargas: 2 shots
Romulo Otero: 2 shots
Nicolas Lopez: 2 shots
Yonathan Rodriguez: 2 shots
Sebastián Coates: 1 shots
Julian Millan: 1 shots
Christian Oliva: 1 shots
Lucas Villalba: 1 shots

=== Olimpia ===
Dario Benedetto: 7 shots
Derlis Gonzalez: 5 shots
Facundo Zabala: 4 shots
Ivan Leguizamon: 4 shots
Rodney Redes: 3 shots
Orlando Barreto: 3 shots
Alex Franco: 3 shots
Lisandro Lopez: 2 shots
Richard Ortiz: 2 shots
Alberto Espinola: 2 shots
Hugo Fernandez: 2 shots
Javier Dominguez: 2 shots
Lucas Pratto: 1 shots
Jesus Paredes: 1 shots
Hugo Benitez: 1 shots

=== Palmeiras ===
Estevao: 6 shots
Richard Rios: 4 shots
Jose Lopez: 4 shots
Felipe Anderson: 3 shots
Facundo Torres: 3 shots
Joaquin Piquerez: 2 shots
Emiliano Martinez: 2 shots
Allan: 2 shots
Gustavo Gomez: 1 shots
Lucas Evangelista: 1 shots
Mauricio: 1 shots

=== Peñarol ===
Leonardo Fernandez: 6 shots
Maximiliano Olivera: 2 shots
Hector Villalba: 2 shots
Jaime Báez: 2 shots
Alexander Machado: 2 shots
Ignacio Sosa: 2 shots
Pedro Milans: 1 shots

=== Racing Club ===
Adrian Martinez: 8 shots
Luciano Dario Vietto: 5 shots
Santiago Sosa: 3 shots
Maximiliano Salas: 2 shots
Gabriel Rojas: 2 shots
Agustin Almendra: 2 shots
Martin Barrios: 2 shots
Juan Ignacio Nardoni: 2 shots
Santiago Solari: 2 shots
Adrian Balboa: 1 shots
Federico Zaracho: 1 shots
Gaston Martirena: 1 shots
Marco Di Cesare: 1 shots
Ignacio Rodriguez: 1 shots

=== River Plate ===
Sebastian Driussi: 7 shots
Maximiliano Meza: 5 shots
Franco Mastantuono: 5 shots
Manuel Lanzini: 2 shots
Giuliano Galoppo: 2 shots
Facundo Colidio: 2 shots
Ignacio Fernandez: 1 shots
Paulo Diaz: 1 shots
Lucas Martinez Quarta: 1 shots
Santiago Simon: 1 shots

=== San Antonio Bulo Bulo ===
Julio Herrera: 6 shots
Hernan Rodriguez: 3 shots
Juan Montenegro: 2 shots
Jose Martinez: 2 shots
Carlos Suarez: 1 shots
Jorge Flores: 1 shots
Luis Barboza: 1 shots
Braian Salvareschi: 1 shots
Sebastian Viveros: 1 shots

=== Sporting Cristal ===
Santiago Gonzalez: 5 shots
Martin Tavara: 2 shots
Jesus Pretel: 2 shots
Irven Avila: 1 shots
Nicolás Pasquini: 1 shots
Christopher Gonzáles: 1 shots
Leandro Sosa: 1 shots
Gianfranco Chavez: 1 shots
Rafael Lutiger: 1 shots
Jostin Alarcon: 1 shots
Misael Sosa: 1 shots
Catriel Cabellos: 1 shots
Maxloren Castro: 1 shots

=== São Paulo ===
Luciano Neves: 4 shots
Lucas Ferreira: 4 shots
Alisson: 2 shots
Andre: 2 shots
Ferreira: 2 shots
Cédric Soares: 1 shots
Robert Arboleda: 1 shots
Jonathan Calleri: 1 shots
Marcos Antonio: 1 shots
Matheus Alves: 1 shots

=== Talleres de Córdoba ===
Cristian Alberto Tarragona: 4 shots
Emanuel Reynoso: 4 shots
Federico Girotti: 4 shots
Valentin Depietri: 4 shots
Juan Camilo Portilla: 4 shots
Nahuel Lautaro Bustos: 3 shots
Blas Riveros: 2 shots
Diego Ortegoza: 2 shots
Sebastian Palacios: 1 shots
Matias Galarza: 1 shots

=== Universidad de Chile ===
Lucas Di Yorio: 3 shots
Charles Aránguiz: 2 shots
Leandro Fernández: 2 shots
Matias Sepulveda: 2 shots
Javier Altamirano: 2 shots
Israel Poblete: 1 shots
Matias Zaldivia: 1 shots
Gonzalo Montes: 1 shots
Nicolás Ramirez: 1 shots
Nicolas Guerra: 1 shots

=== Universitario de Deportes ===
Edison Flores: 3 shots
Gabriel Costa: 2 shots
Alex Valera: 2 shots
Hugo Ancajima: 2 shots
Jairo Velez: 1 shots
Jose Rivera: 1 shots
Jairo Concha: 1 shots
Jose Carabali: 1 shots
Cesar Inga: 1 shots

=== Vélez Sarsfield ===
Braian Romero: 10 shots
Maher Carrizo: 7 shots
Michael Santos: 4 shots
Elias Gomez: 3 shots
Claudio Baeza: 2 shots
Emanuel Mammana: 2 shots
Agustin Bouzat: 2 shots
Alvaro Montoro: 2 shots
Francisco Pizzini: 1 shots
Matias Pellegrini: 1 shots
Augustin Lagos: 1 shots
Christian Ordonez: 1 shots

            teamName  playerId               playerName  count
7       Alianza Lima    831684            Kevin Quevedo      8
1       Alianza Lima     33101      José Paolo Guerrero      5
2       Alianza Lima    127268  Pablo Damian Lavandeira      3
4       Alianza Lima    200257          Fernando Gaibor      2
6       Alianza Lima    458861            Eryc Castillo      2
..               ...       ...                      ...    ...
327  Vélez Sarsfield   1607035           Alvaro Montoro      2
317  Vélez Sarsfield    288759        Francisco Pizzini      1
324  Vélez Sarsfield    954660        Matias Pellegrini      1
325  Vélez Sarsfield   1083898           Augustin Lagos      1
326  Vélez Sarsfield   1393542        Christian Ordonez      1

[329 rows x 4 columns]

In [ ]:
# op 4 Create separate DataFrames per team
team_groups = target_shots.groupby('teamName')
for team, group in team_groups:
    print(f"\n=== {team} ===")
    player_counts = group['playerName'].value_counts().reset_index()
    player_counts.columns = ['playerName', 'count']
    print(player_counts.to_string(index=False))

=== Alianza Lima ===
             playerName  count
          Kevin Quevedo      4
Pablo Damian Lavandeira      3
          Ricardo Lagos      2
      Guillermo Enrique      2
           Alan Cantero      2
          Eryc Castillo      1
           Marco Huaman      1
        Pablo Cepellini      1
          Miguel Trauco      1
    José Paolo Guerrero      1
        Fernando Gaibor      1

=== Atlético Bucaramanga ===
     playerName  count
Frank Castaneda      4
Fabian Sambueza      3
   Luciano Pons      2
  Kevin Londono      2
  Aldair Zarate      1
   Carlos Henao      1

=== Atlético Nacional ===
       playerName  count
Marino Hinestroza      7
  Alfredo Morelos      6
      Juan Zapata      2
    Edwin Cardona      2
    Kevin Viveros      2
  Dairon Asprilla      2
  Juan Jose Arias      1
     Felipe Roman      1
  William Tesillo      1

=== Bahia ===
          playerName  count
          Jean Lucas      5
   Luciano Rodriguez      3
      Santiago Ramos      2
         Erick Pulga      2
       Ademir Santos      1
     Gilberto Junior      1
               Erick      1
Cauly Oliveira Souza      1
      Santiago Arias      1
      Rodrigo Nestor      1

=== Barcelona de Guayaquil ===
      playerName  count
  Octavio Rivero      3
Cristhian Solano      3
  Bryan Carabali      2
   Janner Corozo      2
 Jhonny Quinonez      1
    Dixon Arroyo      1

=== Bolívar ===
       playerName  count
      Ramiro Vaca      6
    Carlos Melgar      3
   Jhon Velasquez      3
Leonel Justiniano      2
      Fabio Gomes      2
   Robson Matheus      2
     Jose Sagredo      1
   Erwin Saavedra      1

=== Botafogo ===
        playerName  count
Jefferson Savarino      4
Santiago Rodriguez      2
   Matheus Martins      2
 Gonzalo Mastriani      1
  Patrick Carneiro      1
          Cuiabano      1
        Igor Jesus      1
       Alex Telles      1
   Artur Guimaraes      1
      Elias Manoel      1

=== Carabobo FC ===
      playerName  count
    Carlos Ramos      2
Gustavo Gonzalez      2
 Flabian Londono      1
 Edson Tortolero      1
Robert Hernandez      1
   Miguel Pernia      1

=== Central Córdoba (Santiago del Estero) ===
        playerName  count
  Leonardo Heredia      4
    Jose Florentin      4
Luis Miguel Angulo      3
        Ivan Gomez      2
      Braian Cufré      1
 Fernando Martinez      1
    Matias Perello      1

=== Cerro Porteño ===
            playerName  count
       Jonathan Torres      5
          Alan Benitez      2
           Jorge Morel      2
     Guillermo Benitez      1
        Gabriel Aguayo      1
     Gustavo Velazquez      1
          Robert Piris      1
Gaston Claudio Gimenez      1
      Federico Carrizo      1

=== Colo-Colo ===
     playerName  count
  Javier Correa      6
  Alan Saldivia      2
   Lucas Cepeda      2
  Esteban Pavez      1
  Mauricio Isla      1
Cristian Zavala      1

=== Deportivo Táchira ===
       playerName  count
Carlos Calzadilla      2
      Carlos Sosa      2
       Lucas Cano      1
     Juan Requena      1
  Roberto Rosales      1
  Daniel Saggiomo      1
       José Balza      1

=== Estudiantes de La Plata ===
         playerName  count
 Santiago Ascacibar      4
     Tiago Palacios      3
     Guido Carrillo      3
     Santiago Nunez      2
     Ezequiel Piovi      2
          Eric Meza      2
          Jose Sosa      1
Santiago Arzamendia      1
  Ramiro Funes Mori      1

=== Flamengo ===
            playerName  count
           Luiz Araujo      3
        Bruno Henrique      2
               Juninho      2
                Gérson      2
Giorgian De Arrascaeta      2
         Gonzalo Plata      2
          Ayrton Lucas      1
       Evertton Araujo      1
             Leo Ortiz      1
                Wesley      1
    Nicolás de la Cruz      1

=== Fortaleza EC ===
        playerName  count
     Moises Vieira      3
           Marinho      3
       Lucas Sasha      2
Juan Martin Lucero      1
      Yago Pikachu      1
     Diogo Barbosa      1

=== Independiente del Valle ===
      playerName  count
     Jean Arroyo      3
   Jordy Alcivar      3
  Aron Rodriguez      2
    Juan Cazares      1
     Luis Zarate      1
  Jhegson Méndez      1
Claudio Spinelli      1

=== Internacional ===
    playerName  count
  Alan Patrick      5
        Wesley      2
       Vitinho      2
Braian Aguirre      2
Enner Valencia      2

=== LDU Quito ===
        playerName  count
         Alex Arce      4
     Bryan Ramirez      3
   Leonel Quinonez      2
Alexander Alvarado      2
Lisandro Alzugaray      1
 Daniel de la Cruz      1
   Michael Estrada      1
    Jose Quinteros      1

=== Libertad ===
       playerName  count
      Ivan Franco      2
Marcelo Fernandez      1
   Adrian Alcaraz      1
      Diego Viera      1
     Ivan Ramirez      1
    Hugo Martinez      1
   Lucas Sanabria      1
  Gustavo Aguilar      1

=== Nacional ===
        playerName  count
      Diego Herazo      3
    Luciano Boggio      2
    Eduardo Vargas      2
Yonathan Rodriguez      2
    Jeremia Recoba      2
      Romulo Otero      2
     Nicolas Lopez      1
   Christian Oliva      1

=== Olimpia ===
      playerName  count
 Dario Benedetto      4
 Orlando Barreto      3
 Ivan Leguizamon      3
   Richard Ortiz      2
Javier Dominguez      2
 Derlis Gonzalez      2
  Facundo Zabala      2
    Rodney Redes      2
     Alex Franco      1
  Lisandro Lopez      1
  Hugo Fernandez      1
    Hugo Benitez      1
   Jesus Paredes      1

=== Palmeiras ===
       playerName  count
          Estevao      5
     Richard Rios      4
  Felipe Anderson      3
       Jose Lopez      2
            Allan      2
   Facundo Torres      2
Lucas Evangelista      1
Emiliano Martinez      1
 Joaquin Piquerez      1
    Gustavo Gomez      1

=== Peñarol ===
         playerName  count
 Leonardo Fernandez      5
Maximiliano Olivera      2
    Hector Villalba      2
       Ignacio Sosa      2
  Alexander Machado      2
       Pedro Milans      1

=== Racing Club ===
          playerName  count
     Adrian Martinez      7
Luciano Dario Vietto      4
       Santiago Sosa      3
   Maximiliano Salas      2
    Agustin Almendra      2
     Santiago Solari      2
Juan Ignacio Nardoni      2
    Gaston Martirena      1
   Ignacio Rodriguez      1
       Gabriel Rojas      1
      Martin Barrios      1
     Marco Di Cesare      1
       Adrian Balboa      1

=== River Plate ===
           playerName  count
     Maximiliano Meza      5
   Franco Mastantuono      4
    Sebastian Driussi      3
           Paulo Diaz      1
      Facundo Colidio      1
Lucas Martinez Quarta      1
       Santiago Simon      1

=== San Antonio Bulo Bulo ===
        playerName  count
     Julio Herrera      4
     Jose Martinez      2
  Hernan Rodriguez      2
Braian Salvareschi      1
 Sebastian Viveros      1
      Luis Barboza      1
     Carlos Suarez      1

=== Sporting Cristal ===
       playerName  count
     Jesus Pretel      2
Santiago Gonzalez      2
    Martin Tavara      2
      Irven Avila      1
     Leandro Sosa      1
Gianfranco Chavez      1
 Catriel Cabellos      1
      Misael Sosa      1

=== São Paulo ===
      playerName  count
   Luciano Neves      3
  Lucas Ferreira      3
        Ferreira      2
         Alisson      2
 Robert Arboleda      1
   Cédric Soares      1
Jonathan Calleri      1
   Matheus Alves      1

=== Talleres de Córdoba ===
                playerName  count
      Juan Camilo Portilla      4
Cristian Alberto Tarragona      4
         Valentin Depietri      3
     Nahuel Lautaro Bustos      3
            Diego Ortegoza      2
           Emanuel Reynoso      2
              Blas Riveros      2
          Federico Girotti      2
        Sebastian Palacios      1
            Matias Galarza      1

=== Universidad de Chile ===
       playerName  count
   Lucas Di Yorio      2
  Nicolás Ramirez      1
   Israel Poblete      1
 Charles Aránguiz      1
  Matias Zaldivia      1
   Nicolas Guerra      1
 Matias Sepulveda      1
Leandro Fernández      1
Javier Altamirano      1

=== Universitario de Deportes ===
   playerName  count
Gabriel Costa      2
  Alex Valera      2
Edison Flores      1
 Jairo Concha      1

=== Vélez Sarsfield ===
       playerName  count
    Braian Romero      6
    Maher Carrizo      4
   Michael Santos      3
    Claudio Baeza      2
  Emanuel Mammana      2
Francisco Pizzini      1
Christian Ordonez      1
   Agustin Bouzat      1
   Alvaro Montoro      1

In [ ]:
# top 10 players with most shots on target
target_shots.groupby(['playerName', 'teamName']).size().reset_index(name='Shots').sort_values('Shots', ascending=False).head(10)

            playerName           teamName  Shots
31       Braian Romero    Vélez Sarsfield     10
291        Ramiro Vaca            Bolívar      9
19     Alfredo Morelos  Atlético Nacional      8
163      Javier Correa          Colo-Colo      8
3      Adrian Martinez        Racing Club      8
209      Kevin Quevedo       Alianza Lima      8
249  Marino Hinestroza  Atlético Nacional      7
95         Fabio Gomes            Bolívar      7
314  Sebastian Driussi        River Plate      7
242      Maher Carrizo    Vélez Sarsfield      7